.mini-carrusel {
    float: right;
}

.carousel-item {
    position: relative;
    overflow: hidden;
}

.carousel-item img.imagen-ajustable {
    width: 100%;
    height: calc(-56px + 100vh);
    object-fit: cover;
    object-position: center;
    display: block;
}

.carousel-item video.video-ajustable {
    width: 100%;
    height: calc(-56px + 100vh);
    object-fit: cover;
    object-position: 58% center;
    display: block;
}

.carousel-item img.logo-carga {
    width: auto;
    height: calc(45vh);
    position: absolute;
    top: 55%;
    left: 58%;
    transform: translate(-50%, -50%);
}

/* X-Small devices (portrait phones, less than 576px) */
.carousel-item img.logo-carga {
    height: calc(25vh);
    left: 50%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .carousel-item img.logo-carga {
        height: calc(40vh);
        left: 50%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .carousel-item img.logo-carga {
        height: calc(40vh);
        left: 55%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .carousel-item img.logo-carga {
        height: calc(45vh);
        left: 57%;
    }
}