.textos {
  color: white;
}

.boton-formulario {
  background-color: #e1b3c7;
  border-color: #c4819e;
  color: #71304c
}

.foto-formulario {
  justify-content: center;
}

.t-formulario {
  padding: 35px;
}

.mapa {
  padding: 13px;
}

.formulario {
  padding: 50px;
}

.form-floating {
    margin-bottom: 1rem;
}

.form-floating > label {
    padding: 0.5rem 0.75rem;
}