.imagen-ajustable {
    height: calc(-56px + 100vh);
    width: 100%;
    object-fit: cover;
    object-position: 32% 50%;
}

.video-ajustable {
  /* Ajusta el video para que ocupe toda la pantalla por que ahora aparece una line en blanco por debajo */
  height: calc(-56px + 100vh);
  width: 100%;
  object-fit: cover;
  object-position: 32% 50%;
  display: block;

}

.logo-carga {
  position: absolute;
  top: 29vh; 
  left: 55vh;
  height: auto;
  width: auto;
}

.galaxia {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  z-index: -1;
}

.card {
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 0;
  margin-top: 10%;
  margin-bottom: 10%;
}

.background-section1 {
  background-image: url('../assets/fondos/pelea vs basura.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 40px 0;
  position: relative;
  z-index: 1;
}

.filas-explicaciones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.filas-explicaciones .col-md-6 {
  flex: 0 0 auto;
  width: 400px;
}

.filas-explicaciones img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.imagenes {
    margin-bottom: 20px;
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.background-section2 {
  background-image: url('../assets/fondos/fondo pompom.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 40px 0;
  position: relative;
  z-index: 1;
}

.icono {
  width: 150px;
  padding: 10px;
}

.pompom {
  width: 200px;
  padding: 10px;
}