.imagen-ajustable {
    height: calc(-56px + 100vh);
    width: 100%;
    object-fit: cover;
    object-position: 32% 50%;
}

.video-ajustable {
  /* Ajusta el video para que ocupe toda la pantalla por que ahora aparece una line en blanco por debajo */
  height: calc(-56px + 100vh);
  width: 100%;
  object-fit: cover;
  object-position: 32% 50%;
  display: block;

}

.logo-carga {
  position: absolute;
  top: 29vh; 
  left: 55vh;
  height: auto;
  width: auto;
}

.galaxia {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  object-fit: cover; 
  z-index: -1;
}

.card {
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  border: 0;
  
}