html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    flex-shrink: 0;
}

.container-fluid {
    flex-shrink: 0;
}

.container-fluid.formulario {
    flex: 1;
}

.footer {
    flex-shrink: 0;
    margin-top: auto;
}