.mi-fondo-navbar {
    background-color: #2a2a3b !important;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

.boton {
    color: #9f9fa7;
    transition: 0.3s;
    margin-right: 5%;
    margin-left: 16%;
}

.boton:hover{
    color: #ffffff;
    text-decoration: underline;
}

.imagen-ajustable {
    height: calc(-56px + 100vh);
    width: 100%;
    object-fit: cover;
    object-position: 32% 50%;
}
