.t-herta {
    color: #000000;
    font-family: Garamond, serif;
    font-weight: bold;
}

.t-jarilo {
    color: #ffffff;
    font-family: Garamond, serif;
    font-weight: bold;
}

.t-luofu {
    color: #fffdfd;
    font-family: Garamond, serif;
    font-weight: bold;
}

.t-colonipenal {
    color: #ffffff;
    font-family: Garamond, serif;
    font-weight: bold;
}

.t-amphoreus {
    color: #323232;
    font-family: Garamond, serif;
    font-weight: bold;
}