.t-herta {
    color: #ffffff;
    font-weight: bold;
}

.t-jarilo {
    color: #000000;
    font-weight: bold;
}

.t-luofu {
    color: #fffdfd;
    font-weight: bold;
}

.t-colonipenal {
    color: #ffffff;
    font-weight: bold;
    text-align: right !important;
}

.t-amphoreus {
    color: #000000;
    font-weight: bold;
    text-align: right !important;
}

.t-izquierda {
    text-align: left !important;
    color: #ffffff;
    margin: 2.5%;
    
}

.t-derecha {
    text-align: right !important;
    color: #ffffff;
    margin: 2.5%;
}

.titulos {
    text-decoration: underline;
}

.cuatro-estrellas {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgb(161, 117, 192);
    color: white;
}

.cinco-estrellas {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgb(234, 198, 112);
    color: white;
}

.introduccion {
    text-align: center;
    color: white;
}

.font {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.t-personajes {
    margin: 2.5%;
}
