<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Honkai Star Rail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="..\css\navbar.css">
    <script src="https://kit.fontawesome.com/382e83d34d.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary flex-sm-nowrap flex-wrap mi-fondo-navbar">
        <div class="container-fluid font">
            <button class="navbar-toggler flex-grow-sm-1 flex-grow-0 me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar5">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="..\index.html">
                <img src="..\assets\logo hsr.webp" alt="Logo" width="30" height="30" class="d-inline-block align-text-top rounded-5">
                Honkai Star Rail
            </a>

            <div class="navbar-collapse collapse flex-grow-1 justify-content-center" id="navbar5">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item d-flex align-items-center boton">
                        <a class="nav-link boton" href="..\..\index.html">Inicio</a>
                    </li>

                    <li class="nav-item d-flex align-items-center boton">
                        <a class="nav-link boton" href="4 estrellas.html">4 Estrellas</a>
                    </li>

                    <li class="nav-item d-flex align-items-center boton">
                        <a class="nav-link boton" href="5 estrellas.html">5 Estrellas</a>
                    </li>

                    <li class="nav-item d-flex align-items-center boton">
                        <a class="nav-link boton" href="galeria.html">Galeria</a>
                    </li>

                    <li class="nav-item d-flex align-items-center boton">
                        <a class="nav-link boton" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>

            <div class="flex-grow-1">
                <!--spacer-->
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <h1>Aquí va la galeria</h1>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>